*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  color: #464646;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

a {
  color: #0074d9; }
  a:visited {
    color: #b10dc9; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }
