*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  text-shadow: none;
  background: #b4d5fe; }

::selection {
  text-shadow: none;
  background: #b4d5fe; }

html {
  font-size: 16px; }
  @media (min-width: 72rem) {
    html {
      font-size: 20px; } }

body {
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  color: #333332;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

a {
  color: #0074d9; }
  a:visited {
    color: #b10dc9; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

footer.social {
  margin: auto;
  text-align: center;
  width: 36rem;
  max-width: 100%;
  color: #aaaaaa; }
  footer.social p {
    margin-bottom: 2em; }
  footer.social a, footer.social:visited {
    text-decoration: none;
    color: #888888;
    border-bottom: 1px solid; }
  footer.social .share {
    *zoom: 1;
    margin: 2em auto; }
    footer.social .share:after {
      content: "";
      display: table;
      clear: both; }
  footer.social iframe {
    border: 0;
    width: 100%;
    height: 2em;
    max-width: 20em;
    margin-bottom: 0 auto 1em auto; }
    @media (min-width: 800px) {
      footer.social iframe {
        width: 48%;
        float: left; }
        footer.social iframe:first-child {
          margin-right: 4%; } }
