body {
  margin: 0; }
  @media (min-width: 769px) {
    body {
      margin: 8em 0; } }

h1 {
  text-align: center; }
  h1 .number {
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.55em;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
    color: #aaaaaa; }
  h1 .title {
    display: block;
    font-weight: 100;
    margin: 0.16667em 0 1em;
    font-size: 1.5em; }

img {
  max-width: 100%; }

.logo {
  margin: 2em auto; }
  @media (min-width: 769px) {
    .logo {
      margin: 8em auto; } }

.chapter {
  max-width: 40em;
  padding: 0 12px 1em;
  margin: 0 auto; }

.example {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .example.side-by-side {
    *zoom: 1; }
    .example.side-by-side:after {
      content: "";
      display: table;
      clear: both; }
    .example.side-by-side .left {
      float: left;
      width: 50%; }
    .example.side-by-side .right {
      float: right;
      width: 50%; }

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; }

pre {
  background-color: #eeeeee;
  color: #333333;
  padding: 8px 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  line-height: 24px;
  white-space: pre;
  word-wrap: normal; }

code {
  font-size: 0.8em;
  padding: 2px 4px;
  background: #eeeeee; }

pre > code {
  font-size: inherit;
  background: transparent;
  padding: 0; }

hr {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(10%, rgba(0, 0, 0, 0.1)), color-stop(90%, rgba(0, 0, 0, 0.1)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 90%, transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 90%, transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 90%, transparent);
  background-image: linear-gradient(left, transparent, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 90%, transparent);
  height: 1px;
  width: 100%;
  border: 0;
  margin: 2em auto; }

nav.chapter-navigation {
  position: relative;
  height: 40px; }
  nav.chapter-navigation a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: absolute;
    padding: 6px 15px;
    background: #eeeeee;
    border: 0;
    height: 100%;
    line-height: 27px;
    color: #777777;
    text-decoration: none; }
    nav.chapter-navigation a .title {
      display: none; }
    nav.chapter-navigation a .number:before {
      content: "Chapter "; }
    @media (min-width: 769px) {
      nav.chapter-navigation a .title {
        display: inline; }
      nav.chapter-navigation a .number:after {
        content: ": "; } }
    nav.chapter-navigation a:after {
      content: "";
      position: absolute;
      background: transparent;
      height: 0;
      width: 0;
      border: 20px solid;
      top: 0; }
    nav.chapter-navigation a.next-chapter {
      right: 20px; }
      nav.chapter-navigation a.next-chapter:after {
        left: 100%;
        border-color: transparent transparent transparent #eeeeee; }
    nav.chapter-navigation a.previous-chapter {
      left: 20px; }
      nav.chapter-navigation a.previous-chapter:after {
        right: 100%;
        border-color: transparent #eeeeee transparent transparent; }

h3.magic {
  position: relative; }
  h3.magic:before {
    -webkit-box-shadow: 0 -20px #0074d9, 0 -30px #2ecc40, 0 -40px #ffdc00, 0 -50px #ff851b, 0 -60px #ff4136;
    -moz-box-shadow: 0 -20px #0074d9, 0 -30px #2ecc40, 0 -40px #ffdc00, 0 -50px #ff851b, 0 -60px #ff4136;
    box-shadow: 0 -20px #0074d9, 0 -30px #2ecc40, 0 -40px #ffdc00, 0 -50px #ff851b, 0 -60px #ff4136;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    right: 100%;
    margin: auto;
    margin-right: 20px;
    margin-top: 60px;
    top: 0;
    bottom: 0; }
  h3.magic:after {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
    content: "Magic";
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 10px;
    right: 100%;
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-right: 1px; }

dl {
  *zoom: 1;
  margin: 1.5em auto; }
  dl:after {
    content: "";
    display: table;
    clear: both; }
  dl dt {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    line-height: 2em;
    border-left: 4px solid; }
    dl dt:nth-of-type(5n + 1) {
      border-left-color: #ff4136; }
    dl dt:nth-of-type(5n + 2) {
      border-left-color: #ff851b; }
    dl dt:nth-of-type(5n + 3) {
      border-left-color: #ffdc00; }
    dl dt:nth-of-type(5n + 4) {
      border-left-color: #2ecc40; }
    dl dt:nth-of-type(5n + 5) {
      border-left-color: #0074d9; }
    dl dt:nth-of-type(5n + 6) {
      border-left-color: #b10dc9; }
  @media (min-width: 769px) {
    dl dt, dl dd {
      float: left; }
    dl dt {
      width: 30%;
      padding-right: 5%;
      clear: left; }
    dl dd {
      width: 70%;
      margin: 0 0 1.5em; } }
