.eager {
  display: block;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em; }
  .eager .eager-outer {
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;
    padding: 4px;
    background-color: #ff3283;
    background-image: linear-gradient(90deg, #ff3283 0%, #ff3283 17%, #ff716a 17%, #ff716a 34%, #ffc359 34%, #ffc359 51%, #8ebd14 51%, #8ebd14 67%, #0085ae 67%, #0085ae 83%, #6335e6 83%, #6335e6 100%);
    display: inline-block;
    max-width: 100%;
    width: 26em; }
  .eager .eager-inner {
    -moz-border-radius: 0.1875em;
    -webkit-border-radius: 0.1875em;
    border-radius: 0.1875em;
    background-color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0.91), #ffffff);
    padding: 1.125em; }
  .eager .smart-underlined {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#333332, #333332);
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-position-y: 87%, 87%, 87%;
    background-position-x: 0%, 100%, 0%; }
    .eager .smart-underlined::selection {
      text-shadow: 0.03em 0 currentColor, -0.03em 0 currentColor, 0 0.03em currentColor, 0 -0.03em currentColor, 0.06em 0 currentColor, -0.06em 0 currentColor, 0.09em 0 currentColor, -0.09em 0 currentColor, 0.12em 0 currentColor, -0.12em 0 currentColor, 0.15em 0 currentColor, -0.15em 0 currentColor;
      background: currentColor; }
    .eager .smart-underlined::-moz-selection {
      text-shadow: 0.03em 0 currentColor, -0.03em 0 currentColor, 0 0.03em currentColor, 0 -0.03em currentColor, 0.06em 0 currentColor, -0.06em 0 currentColor, 0.09em 0 currentColor, -0.09em 0 currentColor, 0.12em 0 currentColor, -0.12em 0 currentColor, 0.15em 0 currentColor, -0.15em 0 currentColor;
      background: currentColor; }
  .eager h1 {
    font-size: 1em;
    margin: 0 0 1em; }
  .eager p {
    margin: 1em 0 0; }
    .eager p.small {
      font-size: 0.8em;
      padding: 0 2em;
      line-height: 1.33em;
      margin-bottom: -0.2em; }
  .eager a.eager-button {
    text-decoration: none;
    display: block;
    cursor: pointer;
    -moz-border-radius: 10em;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    font-weight: bold;
    padding: 0.7em 1.2em;
    background: #4039a5;
    color: #fff; }
