html, body {
  overflow: hidden;
  height: 100%;
  width: 100%; }

.page-scroll {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.page {
  text-align: center; }

.page-inner {
  padding: 20px 0; }

@media (min-width: 769px) {
  .page-outer {
    height: 100%;
    width: 100%;
    display: table; }

  .page {
    display: table-cell;
    vertical-align: middle; }

  .page-inner {
    padding: 200px 0;
    position: relative; } }
.separator {
  height: 40px; }
  @media (min-width: 769px) {
    .separator {
      height: 160px; } }

h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 22px;
  line-height: 1;
  position: relative;
  margin: 40px 0;
  color: #aaaaaa;
  padding: 0 1rem; }
  @media (min-width: 769px) {
    h2 {
      margin: 80px 0; } }

.chapter, .potion {
  font-weight: 300;
  letter-spacing: 0.01em;
  font-size: 32px;
  line-height: 1;
  position: relative;
  width: 14em;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0 1rem; }
  .chapter .number, .potion .number {
    margin-bottom: 13px;
    display: inline-block;
    color: #aaaaaa;
    margin-right: 20px;
    text-align: center;
    width: 1em;
    font-weight: 100; }
  .chapter a, .potion a {
    color: inherit;
    text-decoration: none; }
    .chapter a:hover, .potion a:hover {
      text-decoration: underline; }

.potion {
  text-align: center;
  margin-bottom: 0.5em; }

.logo .the-magic-of {
  -webkit-transition: opacity 800ms ease-in-out;
  -webkit-transition-delay: 1300ms;
  -moz-transition: opacity 800ms ease-in-out 1300ms;
  -o-transition: opacity 800ms ease-in-out 1300ms;
  transition: opacity 800ms ease-in-out 1300ms forwards;
  opacity: 0; }
  .trigger-pageload-animations .logo .the-magic-of {
    opacity: 1; }
.logo .css-rainbow .css-rainbow-c .rainbow {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: -moz-transform 800ms ease-in-out 0ms;
  -o-transition: -o-transform 800ms ease-in-out 0ms;
  transition: transform 800ms ease-in-out 0ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo .css-rainbow .css-rainbow-c .rainbow {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg); }
.logo .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 600ms;
  -moz-transition: -moz-transform 400ms ease-in 600ms;
  -o-transition: -o-transform 400ms ease-in 600ms;
  transition: transform 400ms ease-in 600ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.logo .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1000ms;
  -moz-transition: -moz-transform 400ms ease-out 1000ms;
  -o-transition: -o-transform 400ms ease-out 1000ms;
  transition: transform 400ms ease-out 1000ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }
.logo .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 800ms;
  -moz-transition: -moz-transform 400ms ease-in 800ms;
  -o-transition: -o-transform 400ms ease-in 800ms;
  transition: transform 400ms ease-in 800ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.logo .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition: -moz-transform 400ms ease-out 1200ms;
  -o-transition: -o-transform 400ms ease-out 1200ms;
  transition: transform 400ms ease-out 1200ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }

.page-inner > *:not(.logo) {
  -webkit-transition: opacity 800ms ease-in-out;
  -webkit-transition-delay: 1300ms;
  -moz-transition: opacity 800ms ease-in-out 1300ms;
  -o-transition: opacity 800ms ease-in-out 1300ms;
  transition: opacity 800ms ease-in-out 1300ms forwards;
  opacity: 0; }
  .trigger-pageload-animations .page-inner > *:not(.logo) {
    opacity: 1; }

.window-has-been-scrolled * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.trigger-pageload-animations .logo:hover .css-rainbow .css-rainbow-c .rainbow {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition: -moz-transform 800ms ease-in-out 1200ms;
  -o-transition: -o-transform 800ms ease-in-out 1200ms;
  transition: transform 800ms ease-in-out 1200ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.trigger-pageload-animations .logo:hover .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1000ms;
  -moz-transition: -moz-transform 400ms ease-out 1000ms;
  -o-transition: -o-transform 400ms ease-out 1000ms;
  transition: transform 400ms ease-out 1000ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
.trigger-pageload-animations .logo:hover .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 600ms;
  -moz-transition: -moz-transform 400ms ease-in 600ms;
  -o-transition: -o-transform 400ms ease-in 600ms;
  transition: transform 400ms ease-in 600ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.trigger-pageload-animations .logo:hover .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 400ms;
  -moz-transition: -moz-transform 400ms ease-out 400ms;
  -o-transition: -o-transform 400ms ease-out 400ms;
  transition: transform 400ms ease-out 400ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
.trigger-pageload-animations .logo:hover .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 0ms;
  -moz-transition: -moz-transform 400ms ease-in 0ms;
  -o-transition: -o-transform 400ms ease-in 0ms;
  transition: transform 400ms ease-in 0ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
