body {
  margin: 0; }
  @media (min-width: 44rem) {
    body {
      margin: 8em 0; } }

.page {
  text-align: center;
  padding: 2em 0; }
  @media (min-width: 44rem) {
    .page {
      padding: 0; } }

.separator {
  height: 2.5em; }
  @media (min-width: 44rem) {
    .separator {
      height: 10em; } }

p.author {
  font-size: 1.4rem;
  margin-top: 2em;
  letter-spacing: 0.05em;
  padding-left: 0.43em;
  color: #888888;
  font-weight: 300; }
  p.author a {
    text-decoration: none;
    color: inherit; }

.share {
  margin-top: -0.7rem;
  margin-bottom: 0.7rem;
  padding-left: 0.6rem;
  font-size: 0; }
  .share iframe {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: #eeeeee;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 2.4rem;
    width: 13.6rem;
    height: 1.6rem;
    opacity: 0.8; }
    .share iframe:hover {
      opacity: 1; }
    .share iframe.github {
      width: 8rem }

h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.375em;
  line-height: 1;
  position: relative;
  margin: 2.5rem 0;
  color: #aaaaaa;
  padding: 0 1rem; }
  h2 span {
    margin-right: -0.4em; }
  @media (min-width: 44rem) {
    h2 {
      margin: 5rem 0; } }

ol.chapters {
  list-style-type: none;
  margin-left: 0; }
  ol.chapters > li {
    *zoom: 1;
    clear: left;
    counter-increment: chaptersCounter; }
    ol.chapters > li::after {
      content: "";
      display: table;
      clear: both; }
    ol.chapters > li::before {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      content: counter(chaptersCounter) " ";
      margin-bottom: 0.875rem;
      color: #aaaaaa;
      text-align: center;
      width: 1em;
      margin-right: 0.625em;
      font-weight: 300;
      float: left; }
    ol.chapters > li.coming-soon::before {
      opacity: 0; }
    ol.chapters > li.coming-soon a {
      font-size: 0.8em;
      margin-top: 0.2em;
      opacity: 0.4; }
  ol.chapters:first-child {
    counter-reset: chaptersCounter; }
  ol.chapters a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-bottom: 1rem; }

ol.chapters, ul.potions, .preface-link {
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-right: -0.01em;
  font-size: 1.25em;
  line-height: 1;
  position: relative;
  width: 14em;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0 1rem; }
  @media (min-width: 44rem) {
    ol.chapters, ul.potions, .preface-link {
      font-size: 1.75rem; } }
  @media (min-width: 72rem) {
    ol.chapters, ul.potions, .preface-link {
      font-size: 2rem; } }
  ol.chapters a, ul.potions a, .preface-link a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap; }
    html[data-user-agent*="Chrome"] ol.chapters a:hover span, html[data-user-agent*="Chrome"] ul.potions a:hover span, html[data-user-agent*="Chrome"] .preface-link a:hover span {
      background: -webkit-linear-gradient(white, white), -webkit-linear-gradient(white, white), -webkit-linear-gradient(#464646, #464646);
      background-size: 0.05em 2px, 0.05em 2px, 2px 2px;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.03em 0 white, -0.03em 0 white, 0 0.03em white, 0 -0.03em white, 0.06em 0 white, -0.06em 0 white, 0.09em 0 white, -0.09em 0 white;
      background-position-y: 88%, 88%, 88%;
      background-position-x: 0%, 100%, 0%; }
      html[data-user-agent*="Chrome"] ol.chapters a:hover span::selection, html[data-user-agent*="Chrome"] ul.potions a:hover span::selection, html[data-user-agent*="Chrome"] .preface-link a:hover span::selection {
        text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe;
        background: #b4d5fe; }
      html[data-user-agent*="Chrome"] ol.chapters a:hover span::-moz-selection, html[data-user-agent*="Chrome"] ul.potions a:hover span::-moz-selection, html[data-user-agent*="Chrome"] .preface-link a:hover span::-moz-selection {
        text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe;
        background: #b4d5fe; }
      html[data-user-agent*="Chrome"] ol.chapters a:hover span[data-starts-with="T"], html[data-user-agent*="Chrome"] ul.potions a:hover span[data-starts-with="T"], html[data-user-agent*="Chrome"] .preface-link a:hover span[data-starts-with="T"] {
        background-size: 0.15em 2px, 0.05em 2px, 2px 2px; }

ul.potions, .preface-link {
  list-style: none;
  text-align: center; }
  ul.potions li, .preface-link li {
    margin-bottom: 0.5em; }

.logo.animated .the-magic-of {
  -webkit-transition: opacity 800ms ease-in-out;
  -webkit-transition-delay: 1300ms;
  -moz-transition: opacity 800ms ease-in-out 1300ms;
  -o-transition: opacity 800ms ease-in-out 1300ms;
  transition: opacity 800ms ease-in-out 1300ms forwards;
  opacity: 0; }
  .trigger-pageload-animations .logo.animated .the-magic-of {
    opacity: 1; }
.logo.animated .css-rainbow .rainbow {
  -webkit-backface-visibility: hidden; }
.logo.animated .css-rainbow .css-rainbow-c .rainbow {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: -moz-transform 800ms ease-in-out 0ms;
  -o-transition: -o-transform 800ms ease-in-out 0ms;
  transition: transform 800ms ease-in-out 0ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-c .rainbow {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg); }
.logo.animated .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 600ms;
  -moz-transition: -moz-transform 400ms ease-in 600ms;
  -o-transition: -o-transform 400ms ease-in 600ms;
  transition: transform 400ms ease-in 600ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.logo.animated .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1000ms;
  -moz-transition: -moz-transform 400ms ease-out 1000ms;
  -o-transition: -o-transform 400ms ease-out 1000ms;
  transition: transform 400ms ease-out 1000ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }
.logo.animated .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 800ms;
  -moz-transition: -moz-transform 400ms ease-in 800ms;
  -o-transition: -o-transform 400ms ease-in 800ms;
  transition: transform 400ms ease-in 800ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.logo.animated .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition: -moz-transform 400ms ease-out 1200ms;
  -o-transition: -o-transform 400ms ease-out 1200ms;
  transition: transform 400ms ease-out 1200ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }

.page-inner > *:not(.logo) {
  -webkit-transition: opacity 800ms ease-in-out;
  -webkit-transition-delay: 1300ms;
  -moz-transition: opacity 800ms ease-in-out 1300ms;
  -o-transition: opacity 800ms ease-in-out 1300ms;
  transition: opacity 800ms ease-in-out 1300ms forwards;
  opacity: 0; }
  .trigger-pageload-animations .page-inner > *:not(.logo) {
    opacity: 1; }
  .window-has-been-scrolled .page-inner > *:not(.logo), .has-been-here-before .page-inner > *:not(.logo) {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }

.trigger-pageload-animations.trigger-pageload-animations-3s .logo.animated:hover .css-rainbow .css-rainbow-c .rainbow {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition: -moz-transform 800ms ease-in-out 1200ms;
  -o-transition: -o-transform 800ms ease-in-out 1200ms;
  transition: transform 800ms ease-in-out 1200ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.trigger-pageload-animations.trigger-pageload-animations-3s .logo.animated:hover .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1000ms;
  -moz-transition: -moz-transform 400ms ease-out 1000ms;
  -o-transition: -o-transform 400ms ease-out 1000ms;
  transition: transform 400ms ease-out 1000ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
.trigger-pageload-animations.trigger-pageload-animations-3s .logo.animated:hover .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 600ms;
  -moz-transition: -moz-transform 400ms ease-in 600ms;
  -o-transition: -o-transform 400ms ease-in 600ms;
  transition: transform 400ms ease-in 600ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.trigger-pageload-animations.trigger-pageload-animations-3s .logo.animated:hover .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 400ms;
  -moz-transition: -moz-transform 400ms ease-out 400ms;
  -o-transition: -o-transform 400ms ease-out 400ms;
  transition: transform 400ms ease-out 400ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
.trigger-pageload-animations.trigger-pageload-animations-3s .logo.animated:hover .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 0ms;
  -moz-transition: -moz-transform 400ms ease-in 0ms;
  -o-transition: -o-transform 400ms ease-in 0ms;
  transition: transform 400ms ease-in 0ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
