body {
  margin: 0; }
  @media (min-width: 48em) {
    body {
      margin: 8em 0; } }

.page {
  text-align: center;
  padding: 2em 0; }
  @media (min-width: 48em) {
    .page {
      padding: 0; } }

.separator {
  height: 2.5em; }
  @media (min-width: 48em) {
    .separator {
      height: 10em; } }

h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 1.375em;
  line-height: 1;
  position: relative;
  margin: 2.5rem 0;
  color: #aaaaaa;
  padding: 0 1rem; }
  h2 span {
    margin-right: -0.4em; }
  @media (min-width: 48em) {
    h2 {
      margin: 5rem 0; } }

ol.chapters {
  list-style-type: none;
  margin-left: 0; }
  ol.chapters > li {
    *zoom: 1;
    clear: left;
    counter-increment: chaptersCounter; }
    ol.chapters > li:after {
      content: "";
      display: table;
      clear: both; }
    ol.chapters > li:before {
      content: counter(chaptersCounter) " ";
      margin-bottom: 0.875rem;
      display: inline-block;
      color: #aaaaaa;
      text-align: center;
      width: 1em;
      margin-right: 0.625em;
      font-weight: 100;
      float: left; }
  ol.chapters:first-child {
    counter-reset: chaptersCounter; }
  ol.chapters a {
    display: block;
    margin-bottom: 1rem; }

ol.chapters, ul.potions, .preface-link {
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-right: -0.01em;
  font-size: 1.25em;
  line-height: 1;
  position: relative;
  width: 14em;
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0 1rem; }
  @media (min-width: 48em) {
    ol.chapters, ul.potions, .preface-link {
      font-size: 1.75rem; } }
  @media (min-width: 75em) {
    ol.chapters, ul.potions, .preface-link {
      font-size: 2rem; } }
  ol.chapters a, ul.potions a, .preface-link a {
    color: inherit;
    text-decoration: none; }
    ol.chapters a:hover, ul.potions a:hover, .preface-link a:hover {
      text-decoration: underline; }

ul.potions, .preface-link {
  list-style: none;
  text-align: center; }
  ul.potions li, .preface-link li {
    margin-bottom: 0.5em; }

.logo.animated .the-magic-of {
  -webkit-transition: opacity 800ms ease-in-out;
  -webkit-transition-delay: 1300ms;
  -moz-transition: opacity 800ms ease-in-out 1300ms;
  -o-transition: opacity 800ms ease-in-out 1300ms;
  transition: opacity 800ms ease-in-out 1300ms forwards;
  opacity: 0; }
  .trigger-pageload-animations .logo.animated .the-magic-of {
    opacity: 1; }
.logo.animated .css-rainbow .css-rainbow-c .rainbow {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -moz-transition: -moz-transform 800ms ease-in-out 0ms;
  -o-transition: -o-transform 800ms ease-in-out 0ms;
  transition: transform 800ms ease-in-out 0ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-c .rainbow {
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg); }
.logo.animated .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 600ms;
  -moz-transition: -moz-transform 400ms ease-in 600ms;
  -o-transition: -o-transform 400ms ease-in 600ms;
  transition: transform 400ms ease-in 600ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.logo.animated .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1000ms;
  -moz-transition: -moz-transform 400ms ease-out 1000ms;
  -o-transition: -o-transform 400ms ease-out 1000ms;
  transition: transform 400ms ease-out 1000ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }
.logo.animated .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 800ms;
  -moz-transition: -moz-transform 400ms ease-in 800ms;
  -o-transition: -o-transform 400ms ease-in 800ms;
  transition: transform 400ms ease-in 800ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.logo.animated .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition: -moz-transform 400ms ease-out 1200ms;
  -o-transition: -o-transform 400ms ease-out 1200ms;
  transition: transform 400ms ease-out 1200ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-backface-visibility: hidden; }
  .trigger-pageload-animations .logo.animated .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    transform: rotateZ(270deg); }

.page-inner > *:not(.logo) {
  -webkit-transition: opacity 800ms ease-in-out;
  -webkit-transition-delay: 1300ms;
  -moz-transition: opacity 800ms ease-in-out 1300ms;
  -o-transition: opacity 800ms ease-in-out 1300ms;
  transition: opacity 800ms ease-in-out 1300ms forwards;
  opacity: 0; }
  .trigger-pageload-animations .page-inner > *:not(.logo) {
    opacity: 1; }
  .window-has-been-scrolled .page-inner > *:not(.logo), .has-been-here-before .page-inner > *:not(.logo) {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }

.trigger-pageload-animations .logo.animated:hover .css-rainbow .css-rainbow-c .rainbow {
  -webkit-transition: -webkit-transform 800ms ease-in-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition: -moz-transform 800ms ease-in-out 1200ms;
  -o-transition: -o-transform 800ms ease-in-out 1200ms;
  transition: transform 800ms ease-in-out 1200ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.trigger-pageload-animations .logo.animated:hover .css-rainbow .css-rainbow-s-1 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 1000ms;
  -moz-transition: -moz-transform 400ms ease-out 1000ms;
  -o-transition: -o-transform 400ms ease-out 1000ms;
  transition: transform 400ms ease-out 1000ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
.trigger-pageload-animations .logo.animated:hover .css-rainbow .css-rainbow-s-1 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 600ms;
  -moz-transition: -moz-transform 400ms ease-in 600ms;
  -o-transition: -o-transform 400ms ease-in 600ms;
  transition: transform 400ms ease-in 600ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
.trigger-pageload-animations .logo.animated:hover .css-rainbow .css-rainbow-s-2 .bottom-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-out;
  -webkit-transition-delay: 400ms;
  -moz-transition: -moz-transform 400ms ease-out 400ms;
  -o-transition: -o-transform 400ms ease-out 400ms;
  transition: transform 400ms ease-out 400ms forwards;
  -webkit-transform: rotateZ(270deg);
  -moz-transform: rotateZ(270deg);
  -ms-transform: rotateZ(270deg);
  -o-transform: rotateZ(270deg);
  transform: rotateZ(270deg); }
.trigger-pageload-animations .logo.animated:hover .css-rainbow .css-rainbow-s-2 .top-half .rainbow {
  -webkit-transition: -webkit-transform 400ms ease-in;
  -webkit-transition-delay: 0ms;
  -moz-transition: -moz-transform 400ms ease-in 0ms;
  -o-transition: -o-transform 400ms ease-in 0ms;
  transition: transform 400ms ease-in 0ms forwards;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }
