body {
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
  margin: 0; }
  @media (min-width: 768px) {
    body {
      margin: 8em 0; } }

h1 {
  text-align: center; }
  h1 .number:after {
    content: ":"; }

img {
  max-width: 100%; }

.logo {
  margin: 2em auto; }
  @media (min-width: 768px) {
    .logo {
      margin: 8em auto; } }

.lesson {
  max-width: 40em;
  padding: 0 12px;
  margin: 0 auto; }

.example.side-by-side {
  *zoom: 1; }
  .example.side-by-side:after {
    content: "";
    display: table;
    clear: both; }
  .example.side-by-side .left {
    float: left;
    width: 50%; }
  .example.side-by-side .right {
    float: right;
    width: 50%; }

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; }

pre {
  background-color: #eeeeee;
  color: #333333;
  padding: 8px 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  line-height: 24px;
  white-space: pre;
  word-wrap: normal; }

code {
  font-size: 0.8em;
  padding: 2px 4px;
  background: #eeeeee; }

pre > code {
  font-size: inherit;
  background: transparent;
  padding: 0; }
