@import compass/css3
@import compass/utilities/general/clearfix

*, *:after, *:before
    +box-sizing(border-box)

body
    font-family: "proxima-nova", "Helvetica Neue", sans-serif
    color: #464646
    margin: 0

h1, h2, h3, h4, h5, h6
    font-weight: 600

.clearfix
    +pie-clearfix