@import compass/css3
@import compass/utilities/general/clearfix

*, *:after, *:before
    +box-sizing(border-box)

html
    font-size: 16px

    @media (min-width: 100em)
        font-size: 20px

body
    font-family: "proxima-nova", "Helvetica Neue", sans-serif
    color: #464646
    margin: 0
    text-rendering: optimizeLegibility
    -webkit-text-size-adjust: 100%

h1, h2, h3, h4, h5, h6
    font-weight: 600

a
    color: #0074d9

    &:visited
        color: #b10dc9

.clearfix
    +pie-clearfix