@import compass/css3
@import compass/utilities/general/clearfix

@import colors

body
    margin: 0

    @media (min-width: 48em)
        margin: 8em 0

h1
    text-align: center

    .number
        display: block
        font-weight: 100
        text-transform: uppercase
        letter-spacing: .4em
        font-size: .55em
        line-height: 1
        position: relative
        margin-bottom: 0
        color: #aaa

    .title
        display: block
        font-weight: 100
        margin: .166666em 0 1em
        font-size: 1.5em

img
    max-width: 100%

.logo
    margin: 2em auto

    @media (min-width: 48em)
        margin: 8em auto

.chapter
    width: 40rem
    max-width: 100%
    padding: 0 .666666rem 1rem
    margin: 0 auto

.example
    max-width: 100%
    overflow: auto
    -webkit-overflow-scrolling: touch

    &.side-by-side
        +pie-clearfix

        .left
            float: left
            width: 50%

        .right
            float: right
            width: 50%

        .left, .right

            > p:first-child
                margin-top: 0

code, pre
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace

pre
    background-color: #eee
    color: #333
    padding: .5em .666666em
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    font-size: .875em
    line-height: 1.71em
    white-space: pre
    word-wrap: normal

code
    font-size: .8em
    padding: .15625em .3125em
    background: #eee

pre > code
    font-size: inherit
    background: transparent
    padding: 0

hr
    +background-image(linear-gradient(left, transparent, rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .1) 90%, transparent))
    height: .0625rem
    width: 100%
    border: 0
    margin: 2em auto

nav.chapter-navigation
    position: relative
    height: 2.5em
    max-width: 100%
    overflow: hidden

    a
        +box-sizing(border-box)
        +inline-block
        position: absolute
        padding: .43em .94em
        line-height: 1.7em
        background: #eee
        border: 0
        height: 100%
        color: #777
        text-decoration: none

        .title
            display: none

        .number:before
            content: "Chapter "

        @media (min-width: 48em)

            .title
                display: inline

            .number:after
                content: ": "

        &:after
            content: ""
            position: absolute
            background: transparent
            height: 0
            width: 0
            border: 1.25em solid
            top: 0

        &.next-chapter
            right: 1.25em

            &:after
                left: 100%
                border-color: transparent transparent transparent #eee

        &.previous-chapter
            left: 1.25em

            &:after
                right: 100%
                border-color: transparent #eee transparent transparent

h3.magic
    position: relative

    @media (min-width: 42em)

        $bandWidth: -.625em

        &:before
            +box-shadow(0 ($bandWidth * 2) $blue, 0 ($bandWidth * 3) $green, 0 ($bandWidth * 4) $yellow, 0 ($bandWidth * 5) $orange, 0 ($bandWidth * 6) $red)
            +border-radius(50%)
            content: ""
            font-size: 1rem
            height: .9375em
            width: .9375em
            display: block
            position: absolute
            right: 100%
            margin: auto
            margin-right: 1.25em
            margin-top: 3.75em
            top: 0
            bottom: 0

        &:after
            +transform(rotateZ(-90deg))
            content: "Magic"
            text-transform: uppercase
            letter-spacing: .4em
            font-size: .625rem
            right: 100%
            position: absolute
            color: #fff
            margin-top: 1.25rem
            margin-right: .0625rem

    @media (max-width: 42em)

        &:before
            content: "Magic"
            text-transform: uppercase
            letter-spacing: .4em
            font-size: .625rem
            display: block
            color: #fff
            margin: 1rem -.666666rem
            padding: .1rem .666666rem
            +background-image(linear-gradient(left, $purple, $red, rgba($orange, .8), rgba($yellow, .6), rgba($green, .4), rgba($blue, .2), rgba($purple, 0), transparent, transparent))

dl
    +pie-clearfix
    margin: 1.5em auto

    dt
        +inline-block
        line-height: 2em
        border-left: .25em solid

        &:nth-of-type(5n + 1)
            border-left-color: $red

        &:nth-of-type(5n + 2)
            border-left-color: $orange

        &:nth-of-type(5n + 3)
            border-left-color: $yellow

        &:nth-of-type(5n + 4)
            border-left-color: $green

        &:nth-of-type(5n + 5)
            border-left-color: $blue

        &:nth-of-type(5n + 6)
            border-left-color: $purple

    @media (min-width: 48em)

        dt, dd
            float: left

        dt
            width: 30%
            padding-right: 5%
            clear: left

        dd
            width: 70%
            margin: 0 0 1.5em

em > em
    font-style: normal

figure
    position: relative
    margin: 1em 0
    text-align: center

    img
        margin: 0 auto
        display: block

    figcaption
        padding-top: 1em
        color: #888
        font-weight: 300
        letter-spacing: .03em

    @media (min-width: 35.5em)

        figcaption
            position: relative
            margin-top: 1em
            margin-left: 40%
            text-align: right

            &:after
                +background-image(linear-gradient(left, transparent, rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .1) 90%))
                content: ""
                position: absolute
                top: 0
                right: 0
                left: 0
                height: .0625rem

    @media (min-width: 75em)

        figcaption
            position: absolute
            right: 100%
            top: 0
            bottom: 0
            padding: 0
            width: 20em

            display: -webkit-box
            display: -webkit-flex
            display: -moz-box
            display: -ms-flexbox
            display: flex

            -webkit-box-align: center
            -webkit-align-items: center
            -moz-box-align: center
            -ms-flex-align: center
            align-items: center

            -webkit-box-pack: flex-end
            -webkit-justify-content: flex-end
            -moz-box-pack: flex-end
            -ms-flex-pack: flex-end
            justify-content: flex-end

            &:after
                +background-image(linear-gradient(top, transparent, rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .1) 90%, transparent))
                content: ""
                position: absolute
                top: 20%
                bottom: 20%
                right: 1.875em
                width: .0625rem
                height: auto
                left: auto

            .figcaption
                text-align: right
                padding-right: 3.75em

figure.cushy
    margin-top: 2em
    margin-bottom: 2em

@media (min-width: 48em)

    figure.cushy
        margin-top: 8em
        margin-bottom: 8em