@import compass/css3

@import rainbow

body
    margin: 0

    @media (min-width: 48em)
        margin: 8em 0

.page
    text-align: center
    padding: 2em 0

    @media (min-width: 48em)
        padding: 0

.separator
    height: 2.5em

    @media (min-width: 48em)
        height: 10em

h2
    font-weight: 100
    text-transform: uppercase
    letter-spacing: .4em
    font-size: 1.375em
    line-height: 1
    position: relative
    margin: 2.5rem 0
    color: #aaa
    padding: 0 1rem

    span
        margin-right: -.4em

    @media (min-width: 48em)
        margin: 5rem 0

ol.chapters
    list-style-type: none
    margin-left: 0

    > li
        counter-increment: chaptersCounter

        &:before
            content: counter(chaptersCounter) " "
            margin-bottom: .875rem
            display: inline-block
            color: #aaa
            text-align: center
            width: 1em
            margin-right: .625em
            font-weight: 100

    &:first-child
        counter-reset: chaptersCounter

ol.chapters, ul.potions, .preface-link
    font-weight: 300
    letter-spacing: .01em
    margin-right: -.01em
    font-size: 1.25em
    line-height: 1
    position: relative
    width: 14em
    max-width: 100%
    text-align: left
    margin: 0 auto
    padding: 0 1rem

    @media (min-width: 48em)
        font-size: 1.75rem

    @media (min-width: 75em)
        font-size: 2rem

    a
        color: inherit
        text-decoration: none

        &:hover
            text-decoration: underline

ul.potions, .preface-link
    list-style: none
    text-align: center

    li
        margin-bottom: .5em

// Loading animation

.logo.animated

    .the-magic-of
        +transition(opacity 800ms ease-in-out 1300ms forwards)
        opacity: 0

        .trigger-pageload-animations &
            opacity: 1

    .css-rainbow

        .css-rainbow-c .rainbow
            +transition(transform 800ms ease-in-out 0ms forwards)
            +transform(rotateZ(90deg))
            -webkit-backface-visibility: hidden

            .trigger-pageload-animations &
                +transform(rotateZ(-90deg))

        .css-rainbow-s-1

            .bottom-half .rainbow
                +transition(transform 400ms ease-in 600ms forwards)
                +transform(rotateZ(270deg))
                -webkit-backface-visibility: hidden

                .trigger-pageload-animations &
                    +transform(rotateZ(90deg))

            .top-half .rainbow
                +transition(transform 400ms ease-out 1000ms forwards)
                +transform(rotateZ(90deg))
                -webkit-backface-visibility: hidden

                .trigger-pageload-animations &
                    +transform(rotateZ(270deg))

        .css-rainbow-s-2

            .bottom-half .rainbow
                +transition(transform 400ms ease-in 800ms forwards)
                +transform(rotateZ(270deg))
                -webkit-backface-visibility: hidden

                .trigger-pageload-animations &
                    +transform(rotateZ(90deg))

            .top-half .rainbow
                +transition(transform 400ms ease-out 1200ms forwards)
                +transform(rotateZ(90deg))
                -webkit-backface-visibility: hidden

                .trigger-pageload-animations &
                    +transform(rotateZ(270deg))

.page-inner > *:not(.logo)
    +transition(opacity 800ms ease-in-out 1300ms forwards)
    opacity: 0

    .trigger-pageload-animations &
        opacity: 1

    .window-has-been-scrolled &, .has-been-here-before &
        +transition(none)

.trigger-pageload-animations .logo.animated:hover

    .css-rainbow

        .css-rainbow-c .rainbow
            +transition(transform 800ms ease-in-out 1200ms forwards)
            +transform(rotateZ(90deg))

        .css-rainbow-s-1

            .bottom-half .rainbow
                +transition(transform 400ms ease-out 1000ms forwards)
                +transform(rotateZ(270deg))

            .top-half .rainbow
                +transition(transform 400ms ease-in 600ms forwards)
                +transform(rotateZ(90deg))

        .css-rainbow-s-2

            .bottom-half .rainbow
                +transition(transform 400ms ease-out 400ms forwards)
                +transform(rotateZ(270deg))

            .top-half .rainbow
                +transition(transform 400ms ease-in 0ms forwards)
                +transform(rotateZ(90deg))