.overflow-ellipsis-simple {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20em;
  background: #eeeeee; }

table {
  background: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em; }
  table td {
    border: 0.125em solid #cccccc; }

.overflow-ellipsis-table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 25em; }
