@import compass/css3

table
    table-layout: fixed
    background: transparent
    border-spacing: 0
    border-collapse: collapse
    width: 100%
    margin-bottom: 1em

    td
        border: 2px solid #ccc